VITE_APP_ID=2                                   # ID do sistema, dentro da Organização, deve estar de acordo com o ID do sistema no banco de dados
VITE_APP_NAME=Eventos                           # nome do aplicativo
VITE_APP_VERSION=1.0.0                          # versão do aplicativo
VITE_API_BASE_URL=http://localhost:13000/api    # URL da sua API Laravel
VITE_JWT_TOKEN_KEY=tokenJwtEventos              # apenas um rótulo para armazenar o token no localStorage